<footer class="bg-gray-200 dark:bg-action-200 px-4 pt-16 pb-6 mt-8">
  <div class="container mx-auto p-4 max-w-[76rem]">
    <div class="flex items-center justify-between flex-wrap">
      <div class="w-full mb-8">
        <ul class="flex flex-row justify-start flex-wrap lg:flex-nowrap">
          {% for item in site.data.footer_links.items %}
          <li class="w-full md:w-auto md:mr-8 flex">
            <a
              href="{{ site.baseurl }}{{ item.link }}"
              class="text-action-500 underline hover:text-action-900 hover:decoration-dotted p-2"
              >{{ item.name }}</a
            >
          </li>

          {% endfor %}



          <!-- Facebook -->
          <form action="https://google.co.uk">
          <button
            type="submit"
            data-te-ripple-init
            data-te-ripple-color="light"
            class="mb-2 inline-block rounded-full p-3 text-xs font-medium uppercase bg-action-900 leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="currentColor"
              viewBox="0 0 24 24">
              <path
                d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
            </svg>
          </button>
          </form>

          <!-- Linkedin -->
          <form action="#">
          <button
            type="submit"
            data-te-ripple-init
            data-te-ripple-color="light"
            class="mb-2 inline-block rounded-full p-3 text-xs font-medium uppercase bg-action-900 leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="currentColor"
              viewBox="0 0 24 24">
              <path
                d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
            </svg>
          </button>
          </form>



        </ul>




      </div>
    </div>
    <div class="flex items-center justify-between flex-nowrap">




      <div class="grow">



      </div>
      <div>



        {% if site.copyright_url != '' %}
        <a href="{{ site.copyright_link }}" class="hover:underline dark:text-action-900"
          >&copy; {{ site.copyright_name }}</a
        >
        {% else %}
        <p>&copy; {{ site.copyright_name }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
